@import "../../../../styles/colors";
@import "../../../../styles/style.scss";

@mixin card-general {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 25rem;
  max-width: 75rem;
  text-align: left;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 0 0.3rem 0;
  transition: 200ms ease-in-out;
  border: solid 2px;

  .info-parcial {
    @include displayFlexColumn;

    p {
      margin: 0 0 0 0;
      text-align: right;
      font-size: 10px;

      span {
        margin: 0 0 0 0;
        text-align: right;
        font-weight: 625;
      }
    }

  }
}

@mixin general-hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0px 15px 15px 5px #000000;
  box-shadow: 0px 15px 15px 5px #000000;
}

.link {
  text-decoration: none;
  color: $color-primary;
}

.to-do-card-3 {
  background-color: $color-danger;
  @include card-general;
}

.to-do-card-2 {
  background-color: $color-attention;
  @include card-general;
}

.to-do-card-1 {
  background-color: $color-low-priority;
  @include card-general;
}

.to-do-card-3:hover {
  @include general-hover;
}
.to-do-card-2:hover {
  @include general-hover;
}
.to-do-card-1:hover {
  @include general-hover;
}
