$color-primary: #073b4c;
$color-secondary: #118ab2;
$color-success: #06d6a0;
$color-low-priority: #34ace0;
$color-attention: #ffd166;
$color-danger: #ef476f;
$color-button: #f7f1e3;
//spainish-palette in flatuicolors.com